<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mazstoreadmin">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/iconadmin"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/iconadmin"
        android:supportsRtl="true"
        android:theme="@style/Theme.MazStoreAdmin">
        <activity android:name=".MainActivity_detallesPedidos"></activity>
        <activity android:name=".MainActivity_confirma" />
        <activity android:name=".MainActivity_repartidores" />
        <activity android:name=".MainActivity_Pedidos" />
        <activity android:name=".MainActivity_Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity_Login" />
        <activity android:name=".MainActivity_AddUserRestaurante" />
        <activity android:name=".MainActivity_AddUserRepartidor" />
        <activity android:name=".MainActivity_AddUser" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>